@font-face {
    font-family: "greek";
    src: url(font/Dalek.ttf);
  }

@font-face {
    font-family: "greekSmall";
    src: url(font/DOMINICA.TTF);
}

@font-face {
    font-family: "roman";
    src: url(font/Roman.ttf);
}

/* Basic reset and styling */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(57, 39, 19);
    transition: 0.5s ease 1s;
}

.overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgb(80, 56, 28);
    transition: opacity 2s ease 3s;
    z-index: -1;

}

/* Simple layout for header, main content, and footer */
header {
    opacity: 0;
    display: flex;
    font-family: "greek";
    background-image: linear-gradient(rgb(109, 70, 19), rgb(158, 110, 56));
    padding: 10px;
    color: white;
    font-size: 10px;
    height: 3rem;
}

.input {
    margin-left: 1rem;
}

main {
    padding: 20px;
    background-image: linear-gradient(315deg, rgb(0, 0, 0, 0), rgba(19, 15, 2));
    height: 100vh;
}

@keyframes slide {
    100% { transform: translateY(0%); }

}

@keyframes slideSearch {
    100% { transform: translateY(0%) translateX(-140%); }

}

.title {
    position: relative;
    opacity: 0;
    font-family: "greek";
    font-size: 100px;
    margin-top: 11rem;
    margin-bottom: 4rem;
    color: rgb(176, 126, 69);
}

.title:hover {
    color: rgb(216, 152, 79);
    transform: scale(1.05);
    cursor: default;
}

/* This is used to transition the title to the top left corner using JavaScript */
.titleTransition {
    opacity: 1; 
    font-size: 30px; /* Shrink the font */
    transform: translate(-50%, -50%); /* Move it to the top-left */
    top: 0;
    left: 0;
    margin: auto;
    margin-left: 9rem;
    margin-top: 0.5rem;
    transition: 1s;
    transition-delay: 1.8s;
    pointer-events: none;
}


.inputTitle {
    position: relative;
    opacity: 0;
    border: 4px solid rgb(31, 19, 7); 
    outline: 0;
    border-radius: 30px;
    font-size: 28px;
    padding-left: 1rem;
    background-color: rgb(57, 39, 19);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(202, 200, 200);
    transform: translateY(40%);
    transition: transform 0.75s ease;
    animation: slide 0.75s 1.25s forwards;
}

 button {
    opacity: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transform: translateY(40%) translateX(-140%);
    transition: transform 0.75s ease;
    animation: slideSearch 0.75s 1.25s forwards
}

button img {
    opacity: 75%;
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

.hidden {
    opacity: 0;
    margin-top: 4rem;
    transition: opacity 1.5s ease;
    transition-delay: 0.55s;
}

.fadeIn {
    opacity: 1;
    transition: opacity 1.5s ease-in-out, transform 0.25s;
}

.weather-card {
    opacity: 0;
    width: fit-content;
    height: fit-content;
    font-family: "greekSmall";
    font-size: 20px;
    color: rgb(176, 126, 69);
    margin-left: 4.75rem;
    margin-top: -1.75rem;
    transform: translateY(-50%);
    top: 0;
    left: 0;
    transition: opacity 1s ease 3s;
    

}

footer {
    background-image: linear-gradient(rgb(109, 70, 19), rgb(176, 126, 69));
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2rem;
}
