@font-face {
    font-family: "greek";
    src: url(Dalek.ttf);
  }

@font-face {
    font-family: "greekSmall";
    src: url(DOMINICA.TTF);
}

@font-face {
    font-family: "roman";
    src: url(Roman.ttf);
}

/* Basic reset and styling */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(27, 33, 59), rgb(57, 39, 19));
}

/* Simple layout for header, main content, and footer */
header {
    opacity: 0;
    display: flex;
    font-family: "greek";
    background-image: linear-gradient(rgb(109, 70, 19), rgb(158, 110, 56));
    padding: 10px;
    color: white;
    font-size: 10px;
    height: 3rem;
}

.input {
    margin-left: 1rem;
}

main {
    padding: 20px;
    background-image: linear-gradient(180deg, rgb(27, 33, 59), rgb(57, 39, 19));
    height: 100vh;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide {
    100% { transform: translateY(0%); }

}

@keyframes slideSearch {
    100% { transform: translateY(0%) translateX(-140%); }

}

.title {
    opacity: 0;
    font-family: "greek";
    font-size: 100px;
    color: rgb(176, 126, 69);
    animation: fadeIn 2s forwards
}

.inputTitle {
    opacity: 0;
    border: 4px, solid, rgb(54, 34, 13); 
    outline: 0;
    border-radius: 30px;
    font-size: 35px;
    padding-left:1rem;
    background-color: rgb(57, 39, 19);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(202, 200, 200);
    transform: translateY(40%);
    animation: fadeIn 2s 0.75s forwards, slide 0.75s 0.75s forwards
}

 button {
    opacity: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transform: translateY(40%) translateX(-140%);
    animation: fadeIn 2s 0.75s forwards, slideSearch 0.75s 0.75s forwards
}

button img {
    opacity: 75%;
    width: 25px;
    height: 25px;
    padding-top: 5px;
}


.weather-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: blue;
}

footer {
    background-image: linear-gradient(rgb(109, 70, 19), rgb(176, 126, 69));
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2rem;
}
