@font-face {
    font-family: "norse";
    src: url(font/Norsebold.otf);
  }

@font-face {
    font-family: "norseSmall";
    src: url(font/Norse.otf);
}

@font-face {
    font-family: "roman";
    src: url(font/DOMINICA.ttf);
}

/* Basic reset and styling */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(127, 128, 129);
    transition: 0.5s ease 1s;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 1;
    background: rgb(28, 51, 104);
    transition: opacity 2s ease 3s;
    z-index: -1;
    height: 100vh;

}

/* Simple layout for header, main content, and footer */
header {
    opacity: 0;
    display: flex;
    font-family: "greek";
    background-image: linear-gradient(rgb(109, 70, 19), rgb(158, 110, 56));
    padding: 10px;
    color: white;
    font-size: 10px;
    height: 3rem;
}

.input {
    margin-left: 1rem;
}

main {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(315deg, rgb(0, 0, 0, 0), rgba(19, 15, 2));
    height: 100vh;
    overflow: hidden;
}

@keyframes slide {
    100% { transform: translateY(0%); }

}

@keyframes slideSearch {
    100% { transform: translateY(0%) translateX(-140%); }

}

.title {
    position: relative;
    opacity: 0;
    font-family: "norse";
    font-size: 100px;
    margin-top: 14rem;
    margin-bottom: 4rem;
    color: rgb(180, 180, 180);
    text-shadow: 3px 3px rgb(59, 59, 59);
}

.title:hover {
    color: rgb(167, 184, 238);
    transform: scale(1.05);
    cursor: default;
    transition: 0.75s;
}

/* This is used to transition the title to the top left corner using JavaScript */
.titleTransition {
    opacity: 1; 
    font-size: 30px; /* Shrink the font */
    transform: translate(-50%, -50%); /* Move it to the top-left */
    margin: auto;
    margin-left: 10rem;
    margin-top: 1.5rem;
    transition: 1s;
    transition-delay: 1.8s;
    pointer-events: none;
}


.inputTitle {
    position: relative;
    opacity: 0;
    border: 4px solid rgb(31, 19, 7); 
    outline: 0;
    border-radius: 30px;
    font-size: 28px;
    padding-left: 1rem;
    background-color: rgb(47, 50, 59);
    font-family: "norseSmall";
    color: rgb(202, 200, 200);
    transform: translateY(40%);
    transition: transform 0.75s ease;
    animation: slide 0.75s 1.25s forwards;
}

 button {
    opacity: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transform: translateY(40%) translateX(-140%);
    transition: transform 0.75s ease;
    animation: slideSearch 0.75s 1.25s forwards
}

button img {
    opacity: 75%;
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

.hidden {
    opacity: 0;
    margin-top: 4rem;
    transition: opacity 1.5s ease;
    transition-delay: 0.55s;
}

.fadeIn {
    opacity: 1;
    transition: opacity 1.5s ease-in-out, transform 0.25s;
}

.weather-card {
    opacity: 0;
    width: fit-content;
    height: fit-content;
    font-family: "roman";
    font-size: 26px;
    color: rgb(180, 180, 180);
    margin-left: 4.25rem;
    margin-top: -1rem;
    transform: translateY(-50%);
    top: 0;
    left: 0;
    transition: opacity 1s ease 3s;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.realmTitleBox {
    opacity: 0;
    color: rgb(180, 180, 180);
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: left;
    transition: 1s ease 3s;
    bottom: 0;
    transform: translate(10%, 10%);
}

.realmHeading {
    display: inline-block;
    font-family: "norse";
    font-size: 145px;
    text-shadow: 4px 4px rgb(59, 59, 59);
    margin-top: 0;
    margin-bottom: -1rem;
    transition: 1s;
}

.realmHeading:hover {
    transition: 0.75s;
    cursor: pointer;
}

.hover-muspelheim:hover {
    color:rgb(140, 42, 42);
    transition: 0.75s;
    cursor: pointer;
}

.hover-asgard:hover {
    color:rgb(212, 193, 71);
    transition: 0.75s;
    cursor: pointer;
}

.hover-niflheim:hover {
    color: rgb(180, 180, 180);
    transition: 0.75s;
    cursor: pointer;
}

.miniRealm {
    font-size: 20px;
    font-family: "roman";
    text-shadow: 3px 3px rgb(59, 59, 59);
    margin-bottom: -0.75rem;
    margin-left: 0.25rem;
    white-space: nowrap;
  
}

.miniRealm2 {
    font-size: 20px;
    font-family: "norse";
    text-shadow: 3px 3px rgb(59, 59, 59);
    margin-top: 0;
    margin-bottom: 5rem;
    text-align: right;
    
  
}

footer {
    background-image: linear-gradient(rgb(109, 70, 19), rgb(176, 126, 69));
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2rem;
}
